<header>
  <div class="logo-container">
    <div class="logo">Tu Logo</div>
  </div>

  <div class="nav-cart-container">
    <nav class="nav-links">
      <a href="#">Inicio</a>
      <a href="#">Proveedores</a>
    </nav>

    <div class="cart">Carrito</div>
  </div>
</header>

<main>
  <section *ngFor="let provider of providers" class="provider"
           [ngClass]="{ 'expanded': expandedProvider === provider }">
    <div class="provider-content" (click)="onProviderClick(provider)">
      <img [src]="provider.image" alt="{{ provider.name }}" class="provider-image">
      <div class="provider-info">
        <h2>{{ provider.name }}</h2>
        <p>Área: {{ provider.area }}</p>
        <p>{{ provider.description }}</p>
      </div>
    </div>

    <!-- Mostrar información detallada y productos si el proveedor está expandido -->
    <div *ngIf="expandedProvider === provider" class="expanded-details">
      <div *ngFor="let product of provider.products" class="product-box">
        <img [src]="product.image" alt="{{ product.name }}">
        <div class="product-info">
          <h3>{{ product.name }}</h3>
          <p>Marca: {{ product.brand }}</p>
          <p>Precio: {{ product.price }}</p>
          <p>Cantidad: {{ product.quantity }}</p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  © 2024 SupplirBuy. Todos los derechos reservados.
</footer>
